# Claude Code workspace settings
.claude
.claude/

# Backups de herramientas
*.bak
*.archimate.bak

# Logs
*.log
npm-debug.log*

# Archivos temporales de Microsoft Office
~$*
*.tmp

# Windows
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/

# Editores
.idea/
.vscode/
